@import "_colorscheme.less";

.navbar {background-color: @colorscheme[warm-grey-light] !important;}

.header-link {
  margin-left: 20px;
}

#notification-dropdown {margin-right: 20px;}

#notification-badge {
  position: absolute !important;
  background-color: #EF8200;
  color: white;
  top: 8px;
  font-size: 10px;
  right: 4px;
}
.notification-text {
  color: black;
  white-space: normal;
  width: 240px;
  margin-bottom: 15px;
}

#no-notifications {text-align: center;}
.matchverification:hover {background-color: @colorscheme[warm-grey-lighter];}
