@import "_colorscheme.less";

.navbar {
  background-color: @colorscheme[warm-grey-light] !important;
}

.header-link {
  margin-left: 15px;
}

.notification-box {
  height: 660px;
}

.button-spacer {
  margin: 1px;
}

.button-center {
  padding: 15px;
}

.notification-text {
  color: black;
  white-space: normal;
  width: 200px;
  margin-bottom: 10px;
  border-bottom: solid 1px rgba(0, 0, 0, .15);
  padding: 15px;
}

.one-message {
  height: 150px;
}

.left-notifications {
  color: #0071B9;
  font-weight: bold;
  text-align: center;
}
