<div class="btn-group" dropdown [autoClose]="false">
  <button id="button-animated" dropdownToggle type="button"
          class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-animated">
    <fa-layers>
      <fa-icon [icon]="faEnvelope"></fa-icon>
      <fa-layers-counter content="5"></fa-layers-counter>
    </fa-layers>
  </button>
  <ul style="height: 100px" *dropdownMenu class="dropdown-menu dropdown-menu-right"
      role="menu" aria-labelledby="button-animated">
    <li *ngFor="let notification of notifications$|async"
        role="menuitem">
      <div *ngIf="notification.match" class="notification-text dropdown-item">
        <div *ngIf="getWinners(notification.match).length==1">
          Hat {{getWinners(notification.match)[0]}} das Spiel
          vom {{notification.match.date|date}}
          gewonnen?
        </div>
        <div *ngIf="getWinners(notification.match).length == 2">
          Haben {{getWinners(notification.match)[0]}}
          und {{getWinners(notification.match)[1]}} das
          Spiel vom {{notification.match.date|date}} gewonnen?
        </div>
        <button type="button" class="btn btn-success" (click)="acceptNotification(notification.notificationId)">
          Ja!
        </button>
        <button type="button" class="btn btn-danger" (click)="declineNotification(notification.notificationId)">
          Nein!
        </button>
      </div>
    </li>
  </ul>
</div>
