<div *ngIf="(notifications$|async) as notifications">
  <button type="button" class="btn btn-primary mr-2" (click)="openModal(template)">
    <fa-layers>
      <fa-icon [icon]="faEnvelope"></fa-icon>
      <fa-layers-counter *ngIf="notifications.length>0" content=""></fa-layers-counter>
    </fa-layers>
  </button>
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title">Notifications</h4>
    </div>
    <div class="modal-body border-bottom" *ngFor="let notification of notifications">
      <div *ngIf="notification.type==='MATCH_VERIFICATION'">
        <div *ngIf="!notification.match.winners.winner2">
          {{'NOTIFICATION.ONE-OPPONENT'|translate: {
          enemy: notification.match.winners.winner1.fullName,
          date: notification.match.date|date
        } }}
        </div>
        <div *ngIf="notification.match.winners.winner2">
          {{'NOTIFICATION.TWO-OPPONENTS'|translate: {
          enemyOne: notification.match.winners.winner1.fullName,
          enemyTwo: notification.match.winners.winner2.fullName,
          date: notification.match.date|date
        } }}
        </div>
        <div class="button-center row p-3">
          <button type="button" class="btn btn-primary col mr-2"
                  (click)="acceptNotification(notification.notificationId)">
            <fa-icon [icon]="faCheck"></fa-icon>
          </button>
          <button type="button" class="btn btn-danger col"
                  (click)="declineNotification(notification.notificationId)">
            <fa-icon [icon]="faTimes"></fa-icon>
          </button>
        </div>
      </div>
      <div *ngIf="notification.type=='MESSAGE'">
        Deine Anfrage für das Spiel vom {{notification.sendDate}} wurde
        von {{notification.sender.firstName + ' ' + notification.sender.lastName}} abgelehnt
        <div style="padding: 15px" class="row">
          <button type="button" class="btn col btn-danger"
                  (click)="acceptNotification(notification.notificationId)">Ok
          </button>
        </div>
      </div>
    </div>
      <div class="modal-footer align-content-center">
        <span *ngIf="notifications.length===0">{{'NOTIFICATION.NO-NOTIFICATIONS'|translate}}</span>
        <span *ngIf="notifications.length===1">{{'NOTIFICATION.ONE-NOTIFICATION'|translate}}</span>
        <div *ngIf="notifications.length>1">
          {{'NOTIFICATION.MORE-NOTIFICATIONS'|translate: {
          amount: notifications.length}
          }}
        </div>
      </div>
  </ng-template>
</div>
