<header>
  <nav class="navbar navbar-light navbar-expand-lg justify-content-end">
    <!--/* Logo */-->
    <a class="navbar-brand mr-auto">
      <img class="adesso-logo" src="./assets/adesso-logo.png" width="150px" height="auto" alt="adesso kicker">
    </a>
    <!--/* Links */-->
    <div class="navbar-collapse collapse">
      <ul class="navbar-nav">
        <li *ngIf="loginService.token" class="nav-item ml-2 clickable" [routerLink]="['matches','add']">
          <div class="nav-link">
            <div class="nav-link" routerLinkActive="active">
              <fa-icon [icon]="faCalenderCheck"></fa-icon>
              {{'HEADER.MATCH-REQUEST'|translate}}
            </div>
          </div>
        </li>
        <li class="nav-item ml-2 clickable" [routerLink]="['ranking']">
          <div class="nav-link">
            <div class="nav-link" routerLinkActive="active">
              <fa-icon [icon]="faTrophy"></fa-icon>
              {{'HEADER.RANKING'|translate}}
            </div>
          </div>
        </li>
        <li *ngIf="loginService.token" class="nav-item ml-2 clickable"
            [routerLink]="['users','u',loginService.userId]">
          <div class="nav-link">
            <div class="nav-link" routerLinkActive="active">
              <fa-icon [icon]="faUser"></fa-icon>
              {{'HEADER.PROFILE'|translate}}
            </div>
          </div>
        </li>
      </ul>
    </div>
    <app-notification *ngIf="loginService.token"></app-notification>
    <div *ngIf="loginService.fullName; then userControls else loginButton"></div>
    <ng-template #userControls>
      <div class="btn-group" dropdown>
        <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                aria-controls="dropdown-animated">
          <span class="caret">{{loginService.fullName}}</span>
        </button>
        <ul style="height: 210px" id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right"
            role="menu"
            aria-labelledby="button-animated">
          <li class="dropdown-item clickable" (click)="match()" role="menuitem">
            <fa-icon [icon]="faCalenderCheck"></fa-icon>
            {{'HEADER.MATCH-REQUEST'|translate}}
          </li>
          <li class="dropdown-item clickable" (click)="ranking()" role="menuitem">
            <fa-icon [icon]="faTrophy"></fa-icon>
            {{'HEADER.RANKING'|translate}}
          </li>
          <li class="dropdown-item clickable" (click)="onProfile()" role="menuitem">
            <fa-icon [icon]="faUser"></fa-icon>
            {{'HEADER.PROFILE'|translate}}
          </li>
          <div class="dropdown-divider"></div>
          <li class="dropdown-item clickable" (click)="toggleEmailNotifications()" role="menuitem">
            <fa-icon [icon]="faEnvelope"></fa-icon>
            {{'HEADER.EMAILS.HEADER'|translate: {status: (emailNotification$|async) ? this.translate.instant('HEADER.EMAILS.ENABLED') : this.translate.instant('HEADER.EMAILS.DISABLED')} }}
          </li>
          <div class="dropdown-divider"></div>
          <li class="dropdown-item clickable" (click)="logout()" role="menuitem">
            <fa-icon [icon]="faSignOutAlt"></fa-icon>
            {{'HEADER.LOGOUT'|translate}}
          </li>
        </ul>
      </div>
    </ng-template>
    <ng-template #loginButton>
      <button type="button" class="btn btn-primary hvr-fade" id="login-button" (click)="login()">
        {{'HEADER.LOGIN'|translate}}
      </button>
    </ng-template>
  </nav>
</header>
