<div *ngIf="(user$ | async) as user">
  <!--/* Profile Name */-->
  <div class="container text-center mt-3 mb-3">
    <h1>{{user.fullName}}</h1>
  </div>

  <!--/* Profile Statistics */-->
  <div class="container">
    <!--/* Display if player has no statistic */-->
    <div *ngIf="user.statistic, then statistics else noStatistics"></div>

    <!--/* Display statistics */-->
    <ng-template #statistics>
      <div class="row">
        <!--/* Rank */-->
        <div class="col-lg-2">
          <div class="statistic">
            <p class="statistic-title">{{'RANKING.RANK'|translate}}</p>
            <fa-icon [icon]="faChartLine" size="3x"></fa-icon>
            <p class="statistic-value">{{user.statistic.rank}}</p>
          </div>
        </div>
        <!--/* Matches Played */-->
        <div class="col-lg-2">
          <div class="statistic" id="statistic-2">
            <p class="statistic-title">{{'RANKING.MATCHES-PLAYED'|translate}}</p>
            <fa-icon [icon]="faFutbol" size="3x"></fa-icon>
            <p class="statistic-value">{{user.statistic.playedMatches}}</p>
          </div>
        </div>
        <!--/* Wins */-->
        <div class="col-lg-2">
          <div class="statistic" id="statistic-3">
            <p class="statistic-title">{{'RANKING.WINS'|translate}}</p>
            <fa-icon [icon]="faCheck" size="3x"></fa-icon>
            <p class="statistic-value">{{user.statistic.wins}}</p>
          </div>
        </div>
        <!--/* Losses */-->
        <div class="col-lg-2">
          <div class="statistic" id="statistic-4">
            <p class="statistic-title">{{'RANKING.LOSSES'|translate}}</p>
            <fa-icon [icon]="faTimes" size="3x"></fa-icon>
            <p class="statistic-value">{{user.statistic.losses}}</p>
          </div>
        </div>
        <!--/* WinRate */-->
        <div class="col-lg-2">
          <div class="statistic" id="statistic-5">
            <p class="statistic-title">{{'RANKING.WIN-RATE'|translate}}</p>
            <fa-icon [icon]="faChartPie" size="3x"></fa-icon>
            <p class="statistic-value">{{user.statistic.winRatio}}%</p>
          </div>
        </div>
        <!--/* Points */-->
        <div class="col-lg-2">
          <div class="statistic" id="statistic-6">
            <p class="statistic-title">{{'RANKING.POINTS'|translate}}</p>
            <fa-icon [icon]="faTrophy" size="3x"></fa-icon>
            <p class="statistic-value">{{user.statistic.rating}}</p>
          </div>
        </div>
      </div>
      <hr>
      <!--/* ChartJS Canvas */-->
      <app-statistic></app-statistic>
    </ng-template>
    <ng-template #noStatistics>
      <div class="container-fluid">
        <div class="text-center alert alert-danger" role="alert">
          {{'RANKING.PROFILE.NO-RANK'|translate}}
        </div>
      </div>
    </ng-template>
  </div>
</div>
