<div *ngIf="(pages$ | async) as pages">
  <div class="container text-center mt-3 mb-3">
    <h1>
      {{'HEADER.RANKING'|translate}}
        <fa-icon class="fa-info-circle" size="xs" [icon]="faInfoCircle" tooltip="{{'RANKING.TOOLTIP'|translate}}"
                 placement="left"></fa-icon>
    </h1>
  </div>
  <div *ngIf="pages.content.length>0; then ranking else noRanking"></div>
  <!--/* User List */-->
  <ng-template #ranking>
    <div class="container-fluid">
      <div *ngIf="user$|async as user">
        <span class="text-center alert alert-danger" *ngIf="!user.statistic"
              role="alert">{{'RANKING.NO-RANK'|translate}}</span>
      </div>

      <div class="table-container">
        <pagination class="justify-content-center" [totalItems]="pages.totalElements" [itemsPerPage]="10" (numPages)="pages.totalPages"
                    (pageChanged)="pageChanged($event)" [rotate]="true" [maxSize]="6" previousText="&lsaquo;" nextText="&rsaquo;"></pagination>
        <div class="shadow-sm" id="table-container">
          <table class="user-table table">
            <thead>
            <tr>
              <!--/* Rank */-->
              <th>
                <span>{{'RANKING.RANK'|translate}}
                  <fa-icon [icon]="faChartLine"></fa-icon></span>
              </th>
              <!--/* Name */-->
              <th>
                <span>{{'RANKING.PLAYER'|translate}}
                <fa-icon [icon]="faUser"></fa-icon></span>
              </th>
              <!--/* Wins */-->
              <th>
                <span>{{'RANKING.WINS'|translate}}
                  <fa-icon [icon]="faCheck"></fa-icon></span>
              </th>
              <!--/* Win Rate */-->
              <th>
                <span>{{'RANKING.WIN-RATE'|translate}}
                  <fa-icon [icon]="faChartPie"></fa-icon></span>
              </th>
              <!--/* Points */-->
              <th>
                <span>{{'RANKING.POINTS'|translate}}
                  <fa-icon [icon]="faTrophy"></fa-icon></span>
              </th>
            </tr>
            </thead>
            <tbody>
            <!--/* All users */-->
            <tr [class.user-self]="user.userId==loginService.userId" *ngFor="let user of usersPlaceholder"
                (click)="profile(user.userId)" class="user-table-row">
              <td><span class="badge badge-position">{{user.statistic.rank}}</span></td>
              <td>{{user.fullName}}</td>
              <td>{{user.statistic.wins}}</td>
              <td>{{user.statistic.winRatio}}</td>
              <td>{{user.statistic.rating}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        </div>
    </div>
  </ng-template>
  <ng-template #noRanking>
    <div class="container-fluid">
      <div class="text-center alert alert-danger">
        {{'RANKING.NO-RANKS'|translate}}
      </div>
    </div>
  </ng-template>
</div>
