<div *ngIf="(pages$ | async) as pages">
  <div id="everything-above-table" class="container">
    <div class="row">
      <div class="col-11">
        <div id="playerName">
          <h2>Rangliste</h2>
          <br>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="pages.content.length>0; then thenBlock else elseBlock"></div>
  <!--/* User List */-->
  <ng-template #thenBlock>
    <div class="container-fluid">
      <div class="table-container">
        <div id="info-tooltip">
          <fa-icon class="fa-info-circle" [icon]="faInfoCircle" tooltip="Seasons finden jedes Quartal statt"
                   placement="left"></fa-icon>
        </div>
        <div class="shadow-sm" id="table-container">
          <table class="user-table table">
            <thead>
            <tr>
              <!--/* Rank */-->
              <th>
                <span>Rang <fa-icon [icon]="faChartLine"></fa-icon></span>
              </th>
              <!--/* Name */-->
              <th class="thead-name">
                <span>Name</span>
              </th>
              <!--/* Wins */-->
              <th>
                <span>Siege <fa-icon [icon]="faCheck"></fa-icon></span>
              </th>
              <!--/* Win Rate */-->
              <th>
                <span>Siegesrate <fa-icon [icon]="faBalanceScale"></fa-icon></span>
              </th>
              <!--/* Points */-->
              <th>
                <span>Punkte <fa-icon [icon]="faTrophy"></fa-icon></span>
              </th>
            </tr>
            </thead>
            <tbody>
            <!--/* All users */-->
            <tr *ngFor="let user of usersPlaceholder" (click)="profile(user.userId)" class="user-table-row">
              <td><span class="badge badge-position">{{user.statistic.rank}}</span></td>
              <td>{{getFullName(user)}}</td>
              <td>{{user.statistic.wins}}</td>
              <td>{{getWinRatio(user)}}</td>
              <td>{{user.statistic.rating}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <pagination [totalItems]="pages.totalElements" [itemsPerPage]="10" (numPages)="pages.totalPages"
                    (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"></pagination>
      </div>
    </div>
  </ng-template>
  <ng-template #elseBlock>
    <div class="container-fluid">
      <div class="text-center alert alert-danger">
        Es wurden noch keine Spiele gespielt, daher gibt es noch keine Ränge
      </div>
    </div>
  </ng-template>
</div>
