<div class="container-fluid chart-container">
  <div class="row">
    <div class="col-lg-6 chart">
      <h3 class="chart-headline">{{'CHART.RANK-OVER-TIME'|translate}}</h3>
      <canvas baseChart
              [datasets]="rankOverTimeChart.lineChartData"
              [labels]="rankOverTimeChart.lineChartLabels"
              [colors]="rankOverTimeChart.lineChartColors"
              [legend]="rankOverTimeChart.lineChartLegend"
              [chartType]="rankOverTimeChart.lineChartType"
              [options]="rankOverTimeChart.options">
      </canvas>
    </div>
    <div class="col-lg-6 chart">
      <h3 class="chart-headline">{{'CHART.WIN-RATE-OVER-TIME'|translate}}</h3>
      <canvas baseChart
              [datasets]="winRateOverTimeChart.lineChartData"
              [labels]="winRateOverTimeChart.lineChartLabels"
              [colors]="winRateOverTimeChart.lineChartColors"
              [legend]="winRateOverTimeChart.lineChartLegend"
              [chartType]="winRateOverTimeChart.lineChartType"
              [options]="winRateOverTimeChart.options">
      </canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 chart">
      <h3 class="chart-headline">{{'CHART.WINS-AND-LOSSES-PER-DAY'|translate}}</h3>
      <canvas baseChart
              [datasets]="winsAndLossesPerDayChart.lineChartData"
              [labels]="winsAndLossesPerDayChart.lineChartLabels"
              [colors]="winsAndLossesPerDayChart.lineChartColors"
              [legend]="winsAndLossesPerDayChart.lineChartLegend"
              [chartType]="winsAndLossesPerDayChart.lineChartType">
      </canvas>
    </div>
    <div class="col-lg-6 chart">
      <h3 class="chart-headline">{{'CHART.WIN/LOSE-DIFFERENCE'|translate}}</h3>
      <canvas baseChart
              [datasets]="winsAndLossesDiffPerDayChart.lineChartData"
              [labels]="winsAndLossesDiffPerDayChart.lineChartLabels"
              [colors]="winsAndLossesDiffPerDayChart.lineChartColors"
              [legend]="winsAndLossesDiffPerDayChart.lineChartLegend"
              [chartType]="winsAndLossesDiffPerDayChart.lineChartType">
      </canvas>
    </div>
  </div>
</div>
